h1,
h2,
h3,
h4 {
  text-align: center;
}
.repo-info {
  margin: 1em 0;
  background-color: #901010;
  border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  padding: 0.5rem 10%;
  font-size: 1.4rem;
}
