.form-container {
  margin: 1em 0;
  background-color: #901010;
  border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  padding: 0.5rem 10%;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  font-size: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sub {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Courgette", cursive;
}
button:hover {
  background-color: #901010;
  /* width: 75%; */
  color: #ffffff;
}
label {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}
